# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Data files
*.npy
data/

# Virtual environment
venv/
env/
dl_env/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Model & large files (optional)
*.npy

# Logs
*.log
